<div class="container">
  <h1 class="page-header">Upcoming Events:</h1>
  <div class="row">
    <div class="col-lg-12" style=padding:50px;>
      <ul class="nav nav-tabs nav-stacked nav-justified col-md-4 col-lg-4 col-sm-6" ng-repeat="event in $ctrl.awesomeEvents">
        <li><a href="#" uib-tooltip="{{event.description}}">{{event.start.DateTime | date : "short"}} | {{event.summary}} | {{event.location}}<button type="button" class="close" ng-click="$ctrl.deleteEvent(event)">&times;</button></a></li>
      </ul>
    </div>
  </div>
    
    <hr>

    <div>
        <center>
        <form class="event-form">
            <label>Add an event</label>
            <p class="input-group">
              <input type="text" class="form-control" placeholder="Add event summary/title" ng-model="$ctrl.newEvent.summary">
            </p>
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Add event description" ng-model="$ctrl.newEvent.description">
            </p>
<!-- Use google maps api for auto complete for location here !-->
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Add event location" ng-model="$ctrl.newEvent.location">
            </p>


<!-- date and time inputs
            <label class="item item-input">
              <span class="input-label">Date</span>
              <input type="date" ng-model="$ctrl.newEvent.start.Date">
            </label>
            <label class="item item-input">
              <span class="input-label">Time</span>
              <input type="time" ng-model="$ctrl.newEvent.start.DateTime">
            </label>
!-->
            
            <p>                
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.addEvent()">Add New</button>
              </span>
            </p>
        </form>
        </center>
    </div>
</div>

<!-- 
Future Modal Version

<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reserve Table</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReserve()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="reserveForm" name="reserveForm" ng-submit="doReserve()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Number of Guests</span>
            <select ng-model="reservation.numGuests">
                <option ng-repeat="n in [1,2,3,4,5,6]" value="{{n}}">{{n}}</option>
            </select>
        </label>
        <li class="item item-toggle">
        Smoking?
        <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="reservation.smoking">
            <div class="track">
                <div class="handle">
                </div>
            </div>
        </label>
        </li>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="reservation.date">
        </label>
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="time" ng-model="reservation.time"
           name="reservetime" min="11:00:00" max="21:00:00">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Reserve</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>

!-->